@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
@import 'react-toastify/dist/ReactToastify.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --toastify-font-family: 'Work Sans', sans-serif;
    --color-light-bg-primary: #ffffff;
    --color-light-bg-secondary: #f0f0f0;
    --color-light-main-primary: #359d9c;
    --color-light-main-secondary: #eaf6f6;
    --color-light-text-primary: #5d5e7f;
    --color-light-text-secondary: #c2c3cc;
    --color-light-bubble-bg: theme(colors.white);
    --color-light-bubble-text: theme(colors.gray.900);
    /* dark */
    --color-dark-bg-primary: #000000;
    --color-dark-bg-secondary: #161618;
    --color-dark-main-primary: #359d9c;
    --color-dark-main-secondary: #eaf6f6;
    --color-dark-text-primary: #ffffff;
    --color-dark-text-secondary: theme(colors.gray.400);
    --color-dark-bubble-bg: theme(colors.white);
    --color-dark-bubble-text: theme(colors.gray.900);
  }

  .plain-theme {
    --color-light-bg: theme(colors.white);
    --color-light-text-main: theme(colors.gray.400);
    --color-light-text-muted: theme(colors.gray.400);
    --color-light-bubble-bg: theme(colors.white);
    --color-light-bubble-text: theme(colors.gray.900);
    /* dark */
    --color-dark-bg: theme(colors.white);
    --color-dark-text-main: theme(colors.gray.400);
    --color-dark-text-muted: theme(colors.gray.400);
    --color-dark-bubble-bg: theme(colors.white);
    --color-dark-bubble-text: theme(colors.gray.900);
  }
  html,
  body {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    @apply bg-light-bg-primary dark:bg-dark-bg-primary dark:border-dark-bg-secondary;
    /* Note the w-fit here, add after project is done or use w-screen preferably*/
  }

  /* #root {
    max-width: 1536px;
    margin: 0 auto;
  } */

  /* #root {
    @apply h-screen w-screen;
  } */
  .sub-container {
    @apply max-w-7xl mx-auto px-4 md:px-6;
  }

  /* scrollbar */
  * {
    scrollbar-width: thin;
    scrollbar-color: #d6dee1 transparent;
  }
  ::-webkit-scrollbar {
    width: 8px; /* Remove scrollbar space */
    height: 2px;
    /* background: transparent;  Optional: just make scrollbar invisible */
  }

  ::-webkit-scrollbar,
  ::-webkit-scrollbar {
    width: 4px; /* Remove scrollbar space */
    height: 2px;
    /* background: transparent;  Optional: just make scrollbar invisible */
  }

  @media (max-width: 640px) {
    ::-webkit-scrollbar {
      width: 0; /* Remove scrollbar space */
      height: 2px;
      background: transparent;
    }
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a3a3a3;
  }
  .dark ::-webkit-scrollbar-thumb {
    background-color: #404040 !important;
    border-radius: 20px !important;
  }

  .dark ::-webkit-scrollbar-thumb:hover {
    background-color: #737373 !important;
  }
  /* scrollbar */
}

/* .btn-solid {
  @apply hover:text-gray-600;
} */

/* speech bubbles */
.speech-wrapper .bubble {
  @apply max-w-[75%] md:max-w-[60%] w-fit rounded-md bg-light-bg-primary shadow-lg relative mb-6;
}
.speech-wrapper .bubble.alt {
  @apply ml-auto rounded-md;
}
.speech-wrapper .bubble .txt {
  padding: 8px 8px 8px 14px;
}
.speech-wrapper .bubble .txt .name {
  @apply font-semibold text-xs mb-1 text-sky-500;
}
.speech-wrapper .bubble .txt .name span {
  @apply font-normal text-[#b3b3b3];
}
.speech-wrapper .bubble .txt .name.alt {
  @apply text-orange-500;
}

.speech-wrapper .bubble .txt .body {
  @apply flex flex-wrap gap-x-2;
}
.speech-wrapper .bubble .txt .message {
  @apply text-sm m-0 text-gray-700 break-words;
}
.speech-wrapper .bubble .txt .timestamp {
  @apply text-[11px] self-end ml-auto uppercase text-[#999];
}

.speech-wrapper .bubble .bubble-arrow {
  @apply absolute w-0 top-0 -left-4 h-0;
}
.speech-wrapper .bubble .bubble-arrow.alt {
  @apply right-4 top-0 left-auto;
}
.speech-wrapper .bubble .bubble-arrow::after {
  @apply absolute rounded-tl-md;
  content: '';
  position: absolute;
  border-top: 30px solid white;
  border-left: 30px solid transparent;
  /* border-top-left-radius: 4px; */
}
.speech-wrapper .bubble .bubble-arrow.alt::after {
  transform: rotate(180deg) scaleY(-1);
}
.icon-btn {
  @apply inline-flex justify-center dark:bg-dark-bg-secondary rounded-lg p-2 transform hover:scale-110 hover:bg-light-main-secondary transition-transform text-light-main-primary;
}

.slide-in {
  @apply transition-transform duration-300 ease-[cubic-bezier(0.08,0.82,0.17,1)];
}

.slide-in-menu {
  @apply transition-transform duration-500 ease-[cubic-bezier(0.08,0.82,0.17,1)];
}
